<footer>
    <div class="footer-container">
        <div class="footer-section">
            <p style="font-size: 30px;">AYANO</p>
            <h3>© By Gola Templates</h3>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

        <div class="footer-section">
            <p>Pages</p>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Studio</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">More Templates</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <p>CMS</p>
            <ul>
                <li><a href="#">Work</a></li>
                <li><a href="#">Work Single</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Blog Single</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <p>Utility Pages</p>
            <ul>
                <li><a href="#">404 Error Page</a></li>
                <li><a href="#">Licensing</a></li>
            </ul>
        </div>
    </div>
</footer>