<nav class="navbar">
    <div class="navbar-container">
        <!-- Social Icons -->
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>

        <!-- Navbar Menu Items -->
        <div class="navbar-menu">
            <ul class="navbar-links">
                <li><a href="/">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#" class="logo">AYANO</a></li>
                <li><a href="#">Studio</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <!-- Sunlight Toggle Button -->
        <div class="toggle-btn">
            <button id="toggleButton"><i class="fa-solid fa-toggle-on"></i></button>
        </div>
    </div>
</nav>