.projects-section {
    padding: 30px;
    margin-top: 10%;
    border-top: 1px solid #e3e5e9;
}

.projects-section h2 {
    margin-bottom: 20px;
}

.projects-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.project {
    width: 48%; /* Two items in a row */
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.heading{
    font-size: 20px;
    color: black;
}

.project img:hover{
    transform: scale(1.1); 
}