.row {
    display: flex;
    justify-content: space-between; /* Spreads out the columns evenly */
    width: 100%;
    margin-top: 5%;
}

.col {
    flex: 1; /* Each column takes up equal space */
    padding: 20px;
    box-sizing: border-box;
}

.col p{
color: #6c757d;
font-size: 14px;
}